<%- include('includes/head.ejs', {pageTitle: 'An error Occurred' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <section>
      <div class="error-handler">
        <h1> Not authorized </h1>
        <p> You are not authorized!</p>
        <a class="btn" href="/">Back to safety!</a>
      </div>
    </section>

  </main>
  <%- include('includes/footer') %>