<%- include('includes/head.ejs', {pageTitle: 'An error Occurred' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <section>
      <div class="error-handler">
        <h1> Could not find resource</h1>
        <p>Unfortunately, we could not find the requested resource!</p>
        <a class="btn" href="/">Back to safety!</a>
      </div>
    </section>

  </main>
  <%- include('includes/footer') %>