<div class="logo-container">
  <a class="logo" href="/">
    <div>
      <span></span>
      <span></span>
    </div>
    <div>
      <span></span>
      <span></span>
    </div>
  </a>
  <h1> <a class="logo" href="/">Choxxi</a></h1>
</div>