<dialog id="myModal" class="modal" data-success="<%=inputData.successMessage%>">
  <span class="close">&times;</span>
  <div class="modal-content">

    <p> <%=inputData.successMessage%></p>
    <i class="bi bi-check-square "></i>
    <a class="btn" href="/signin"> OK </a>
  </div>
</dialog>