<ul class="nav-bar">
  <% if(locals.isAdmin) { %>
  <li> <a href="/">Manage Products</a></li>
  </li>
  <li> <a href="/admin/orders">Manage Orders</a></li>
  </li>
  <% }else { %>
  <li> <a href="/">Home</a></li>
  <li>
    <a id="cart" href="/home/shopping-cart"> Cart <i class="bi bi-cart"></i> <span class="quantity">
        <%if(!locals.isAuth){ %>
        0
        <%  } else { %>
        <%=locals.cart.cartQuantity%>
        <%   } %>
      </span> </a>
  </li>
  <li> <a href="/home/orders">Orders</a></li>
  <% }%>
</ul>