header {
  position: fixed;
  color: var(--header-text-color);
  font-size: 0.9rem;
  font-weight: 700;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 10;
  background-color: white;
}

.nav-bar a:hover,
.nav-bar a:active {
  color: var(--third-color-700);
  cursor: pointer;
  transition: color 1s;
}

header h1 {
  color: var(--third-color-700);
}

header h1:hover {
  cursor: pointer;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

header .nav-container,
header .nav-bar,
header .nav-actions {
  display: none;
}

#mobile-menu-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#mobile-menu-button span {
  height: 0.3rem;
  background-color: rgba(4, 3, 3, 0.8);
  width: 2rem;
}

.nav-container,
.nav-bar,
.nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .nav-container,
header .nav-bar,
header .nav-actions {
  display: none;
}

#mobile-menu-button:hover {
  cursor: pointer;
}

#mobile-menu-button:hover span {
  background-color: var(--third-color-700);
  transition: background-color 0.5s;
}

@media (min-width: 60rem) {
  #mobile-menu-button,
  .overlay {
    display: none;
  }

  header .nav-container,
  header .nav-bar,
  header .nav-actions {
    display: flex;
  }
}
