.shopping-cart {
  box-shadow: 0px 3px 8px rgb(0, 0, 0);
  border-radius: 1rem;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.5rem 3rem 2rem;
}

.shopping-cart #title {
  text-align: center;
  color: var(--third-color-600);
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.shopping-cart #total-price-p {
  margin: 1.3rem 0;
  text-align: right;
  font-size: 1.1rem;
}
.shopping-cart #total-price-title {
  color: var(--header-text-color);
  font-weight: 700;
}
.shopping-cart #total-price {
  color: green;
  font-weight: 700;
  font-size: 1.2rem;
}

.shopping-cart #table-actions {
  text-align: right;
}

table {
  border-spacing: 0;
  width: 100%;
  margin: auto;
}

table img {
  width: 4rem;
  height: 5rem;
}

td,
th {
  text-align: right;
}

td {
  padding: 1rem 0;
  border-bottom: 2px solid var(--text-color);
}

td:nth-child(1),
th:nth-child(1) {
  text-align: left;
}

table .product {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  justify-content: center;
}
table .product .title {
  display: none;
}
table .product .shortenTitle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 2rem;
  padding: 0.2rem;
  color: white;
  font-size: clamp(0.8rem, 1.3vw, 1rem);
}

.item .item-details > div {
  margin-bottom: 0.5rem;
}

.shopping-cart-quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
}

.shopping-cart-quantity button {
  font-size: clamp(0.8rem, 1.3vw, 1rem);
}

table button {
  color: var(--header-text-color);
}

table button:hover {
  cursor: pointer;
  color: var(--third-color-600);
}

#overall-price button {
  margin-top: 1rem;
}

/* font-design */

th {
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  color: var(--header-text-color);
}

table .cartQuantity {
  color: var(--third-color-700);
  font-weight: 700;
  font-size: clamp(0.8rem, 1.3vw, 1rem);
}

table h5 {
  font-size: clamp(0.6rem, 1.2vw, 1rem);
  color: var(--header-text-color);
}

.btn.cart {
  padding: 0.7rem 2rem;
  color: white;
  font-size: 1rem;
}

@media (min-width: 50rem) {
  table .product .shortenTitle {
    display: none;
  }
  table .product .title {
    display: flex;
  }
  td:nth-child(1),
  th:nth-child(1) {
    width: 30%;
  }
  table .product {
    justify-content: flex-start;
  }
}
