<div class="login-header ">
  <a href="/signin" class="login-btn <%-className%>">
    <i class="bi bi-person-fill"></i>
    Sign in
  </a>
  <a href="/signup" class="login-btn <%-className%>">
    <i class="bi bi-person-plus-fill"></i>
    Sign up
  </a>
</div>